body {
    text-align: -webkit-center;
    background-color: darkgreen;
    color: white;
}

#bg-video {
    position: fixed; /* Fija el video en la ventana del navegador */
    top: 0;
    left: 0;
    min-width: 100%; /* Ancho mínimo para cubrir toda la ventana */
    min-height: 100%; /* Altura mínima para cubrir toda la ventana */
    z-index: -1; /* Coloca el video detrás de otros elementos */
  }

.table {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(14, 1fr); 
    grid-template-rows: repeat(3, auto); /* Crea 3 filas con altura automática */
    border: 1px solid white;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
    background-color: rgba(30, 201, 0, 0.5); /* Fondo negro con opacidad */

}

.black, .red, .otherBets {
    border: 1px solid white;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.otherBets {
    transform: rotate(-90deg); /* Girar elementos 90º */
}

.cero {
    grid-row: span 3;
    width: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.options {
    cursor: pointer;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin-left: 101px;
    background-color: rgba(30, 201, 0, 0.5); /* Fondo negro con opacidad */

}

.bottomBets {
    height: 80px;
    width: 408px;
    background-color: transparent;
    border: 1px solid white;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 40px;
    font-weight: 900;
}

.lastOptions {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: fit-content;
    margin-left: 101px;
    background-color: rgba(30, 201, 0, 0.5); /* Fondo negro con opacidad */

}

.lastBets {
    height: 80px;
    width: 202.5px;
    border: 1px solid white;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 40px;
    font-weight: 900;
}

.bottomSection {
    display: flex;
    justify-content: center;
}

.roulette {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 420px;
    border-radius: 15%;
    position: relative;
    overflow: hidden; /* Asegura que el fondo negro no se extienda más allá del contenedor */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
  }

.roulette-img {
    width: 400px;
    height: 400px;
    border-radius: 15%; /* Asegura que la imagen coincida con el radio de borde del contenedor */
    transition: transform 4s ease;
  }

.buttonsSection {
    align-self: center;
    height: 177px;
    border-radius: 20px; 
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
    margin-left: 100px;
    margin-top: 50px;
  }

  .balance {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: black;
    color: gold;
    padding: auto;
    border-radius: 10px;
    width: 100px;
  }

.golden-btn + .golden-btn { margin-top: 1em; }

.golden-btn {
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: .3em;
  height: 4.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: rgb(120,50,5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-size: 100% 100%;
  background-position:center;
}
.golden-btn:focus,
.golden-btn:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
  border: 1px solid rgba(165,93,7,.6);
  color: rgba(120,50,5,.8);
}
.golden-btn:active {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
}